<h2>
  Lista do Firebase
</h2>

<div>Nome:</div>
<div><input [(ngModel)]="name" /></div>

<div>Idade:</div>
<div><input [(ngModel)]="age" /></div>

<button (click)="addItem()">Adicionar</button>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Email</th>
    <th>Ação</th>
  </tr>
  <tr *ngFor="let item of list | async">
    <td [title]="['chave:' + item.key]">{{item.name}}</td>
    <td>{{item.age}}</td>
    <td>{{item.email}}</td>
    <td><button (click)="deleteItem(item.key)">Remover</button></td>
  </tr>
</table>